.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.icons{
    margin: 5px;
    height: 30px;
}

.paddingForHeroimg{
    padding-top: 70px;
}

.paddingForHerotxt{
    padding-top: 70px;
}

.title{
    font-family: 'Pixelify Sans', sans-serif;
    margin-right: 10px;
}

.word{
    font-family: 'Merriweather', serif;
}

.detail{
    margin-top: 30px;
    margin-bottom: 30px;
}

html{
    background-color: rgb(56, 83, 108);
}

.Email{
    font-family: 'Merriweather', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Zilla Slab', serif;
    font-size: larger;
    font-weight: bold;
}

p{
    font-family: 'Merriweather', serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Zilla Slab', serif;
}

.extitle{
    font-family: 'Young Serif', serif;

}

#navBar{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.frameForGoogle{
    width: 80%;
    height: 100vh;
    margin-left: 10%;

}

@media only screen and (max-width: 800px){
    #homePagePic{
        width: 300px;
    }

    .paddingForHerotxt{
        padding-top: 0px;
    }

    .frameForGoogle{
        width: 80%;
        height: 100vh;
        margin-left: 10%;
    
    }
    

}
